<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>

<head>
	<title>Авторизация</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" th:href="@{/img/favicon.png}" type="image/png">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Ubuntu:wght@500&display=swap" rel="stylesheet"><meta charset="UTF-8">
</head>

<body class="authBody">
<div class="auth">
	<h1 class="defaultAuth" >Авторизация</h1>

	<form th:action="@{/login}" method="post">
		<div th:if="${param.error}">
			<div class="alert alert-danger">Неправильный логин или пароль
			</div>
		</div>
		<div th:if="${param.logout}">
			<div class="alert alert-info">Вы были отключены</div>
		</div>
		<div class="form-group">
			<label for="username">Логин</label>:
			<input type="text" id="username" name="username" class="form-control" autofocus="autofocus" placeholder="например, 1@carc.me">
		</div>
		<div class="form-group">
			<label for="password">Пароль</label>: <input type="password"
																			id="password" name="password" class="form-control"
																			placeholder="например, 12345">
		</div>

		<div class="form-group">
			<label for="remember-me">запомнить меня</label>: <input type="checkbox" id="remember-me" name="remember-me" class="form-control">
		</div>

		<div class="form-group">
			<input type="submit" name="login-submit" id="login-submit"
				   class="stdBtn" value="войти">
		</div>
	</form>
</div>




</body>

</html>